$okc-primary_color: #5369ff;

// existing color sets.
$okc-white: white;
$okc-grey-4: #9ba3bb;
$okc-red: #FA3B5E;
$okc-red-1: #FFDEE4;
$okc-green: #00AC83;
$okc-green-1: #EBFFE3;
$okc-yellow: #FFC154;
$okc-yellow-1: #FFEDCE;

// color for elements
$okc-text_color: #111841;
$okc-link_color: #396DFD;

// color for css property
$okc-shadow_color: #1f016b26;
$okc-bg_color: #f2f2f2;
$okc-border_color: #dce1ec;
$okc-bg__red_1: #FFDEE4;



$base-font-family: 'GT Walsheim Pro', Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$base-font-weight: normal;
$base-line-height: 1.5em;
